Flask==3.0.3           # Flask framework
Flask-Cors==5.0.0    # CORS handling for cross-origin requests
openai==0.28.0         # OpenAI API
requests==2.32.3      # HTTP requests library
Pillow==11.0.0         # Image handling with PIL (Python Imaging Library)